<center><img src='https://drive.google.com/uc?export=view&id=1qJ8NqAZolTBQY7lN-deZ8xEsU3dlUiLz' width=200></center>
<center><img src='https://upload.wikimedia.org/wikipedia/commons/a/a4/Logo-essec.jpg' width=200></center>


<h6><center></center></h6>

<h1>
<hr style=" border:none; height:3px;">
<center>Bachelor AIDAMS</center>
<center>Getting started with the various tools</center>
    <center> Lab 1 : Getting started with the various tools </center>
<hr style=" border:none; height:3px;">
</h1>


The goal of this exercise sheet is to explore several of the tools we will be using in these labs:

* [Pandas](https://pandas.pydata.org/): a Python library specialized in data analysis, widely used in data science, particularly for data manipulation. This library allows you to handle data using **DataFrames** (data tables), which can be very useful.
* [Scikit-learn](http://scikit-learn.org/stable/): a Python library dedicated to data mining and machine learning.



## SCIKIT-LEARN

Scikit-learn is a Python library dedicated to data mining and machine learning, developed by a team at INRIA (the Parietal team at INRIA Paris Saclay). The library’s development community is very active, which means it evolves frequently and rapidly. The main objects it handles are NumPy arrays. This library offers a wide range of features and is extremely useful when you want to implement a complete data analysis pipeline.



### Installing the library

Install the library: [http://scikit-learn.org/stable/install.html](https://scikit-learn.org/stable/index.html)

```
pip install -U scikit-learn
```

The online documentation is very comprehensive and will need to be consulted frequently: [http://scikit-learn.org/stable/documentation.html](http://scikit-learn.org/stable/documentation.html)
The reference language (API) is available at the following address: [http://scikit-learn.org/stable/modules/classes.html](http://scikit-learn.org/stable/modules/classes.html)

In [ ]:
! pip install scikit-learn



### First Steps: Loading and Exploring Datasets

#### The IRIS Dataset

The [IRIS Data Set](http://archive.ics.uci.edu/ml/datasets/Iris) is a classic dataset in data analysis. It was introduced in 1936 by R.A. Fisher as an example for discriminant analysis. It contains 150 samples of observed features from three different iris species: *Setosa*, *Versicolor*, and *Virginica*. Each sample consists of 4 attributes:

* sepal length in cm
* sepal width in cm
* petal length in cm
* petal width in cm
* and a class (the species).

This dataset is available in scikit-learn under the `datasets` package. Like any dataset, it consists of:

* **.data** which stores the data in an n:m array, where *n* is the number of instances and *m* is the number of attributes.
* **.target** which stores the class labels for each instance.
* **.target_names** which provides the names of the classes.
* **.feature_names** which provides the names of the attributes.
* **.DESCR** which contains a full description of the dataset.

Load the dataset by running the following commands:

In [ ]:
from sklearn import datasets

irisData=datasets.load_iris()

Display the data, outputs, attributes, and class names of this dataset, respectively.

In [ ]:
# TO DO

A complete description of the dataset is available with the following command.

In [ ]:
print(irisData.DESCR)

#### Data Vizualization

In [ ]:
%matplotlib inline
# This first instruction tells Jupyter to insert the graphs
# into the notebook rather than into an external window.
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# change of the style of the graphs

In [ ]:
from itertools import cycle
import pylab as pl


from matplotlib import pyplot as plt



def plot_2D(data,x_index,y_index):
  # this formatter will label the colorbar with the correct target names
  formatter = plt.FuncFormatter(lambda i, *args: data.target_names[int(i)])
  plt.figure(figsize=(5, 4))
  plt.scatter(data.data[:, x_index], data.data[:, y_index], c=data.target)
  plt.colorbar(ticks=[0, 1, 2], format=formatter)
  plt.xlabel(data.feature_names[x_index])
  plt.ylabel(data.feature_names[y_index])

  plt.tight_layout()
  plt.show()

# The indices of the features that we are plotting
x_index = 0
y_index = 1

plot_2D(irisData,x_index,y_index)

Display the distribution of data according to other attribute pairs.

In [ ]:
# TO DO

The following code also be used to have a complete overview of the dataset with the ['seaborn'](https://seaborn.pydata.org/) library. Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [ ]:
import seaborn as sns
from sklearn.datasets import load_iris

# We need to load the data as a dataFrame
iris = load_iris(as_frame=True)
print(iris.keys())

# Rename classes using the iris target names
iris.frame["target"] = iris.target_names[iris.target]
_ = sns.pairplot(iris.frame, hue="target")

Is there a 2D space in which the data from one class would be linearly separable from the data from the other two classes, i.e., separable by one of several straight lines? If so, illustrate and give an approximate equation for one of the straight lines.

In [ ]:
# TO DO
# You have to write a code that do that

#### DIGITS Dataset

Digit data is data dedicated to character recognition available on the [UCI](https://archive.ics.uci.edu/datasets) website. It includes 1,797 images with a resolution of $8 \times 8$, each image representing a handwritten digit. Each character appears as an $8 \times 8$ matrix of $16$ grayscale pixels and is identified by a label. This is the *image* space. The data is stored as a three-index array (the *data* space).


**Explore the dataset.**

In [ ]:
# TO DO

The following Python code will allow you to display examples of images to be discriminated.

In [ ]:
images_and_labels = list(zip(digits.images,digits.target))
for index, (image,label) in enumerate(images_and_labels[:10]):
    plt.subplot(2,5,index+1)
    plt.axis('off')
    plt.imshow(image, cmap=plt.cm.gray_r,interpolation='nearest')
    plt.title('Training : %i' %label)
plt.show()

**Write a script that can count the number of examples in each class.**

In [ ]:
# TO DO

#### Other datasets
Many other datasets are directly available in **scikit-learn**: *boston, diabetes, linnerud...* Most of this data is available via a specific loading function, but it can also be easily retrieved via a **fetch** process, particularly for retrieving data from the [openml](https://www.openml.org/) website, by following the documentation below: [Fetch OpenML datasets](https://scikit-learn.org/stable/datasets/loading_other_datasets.html#downloading-datasets-from-the-openml-org-repository).


Similarly, it is possible to process large amounts of data using the **pandas** library.


See also this [documentation](https://scikit-learn.org/stable/datasets/loading_other_datasets.html#loading-from-external-datasets) for loading datasets from other sources.

In [ ]:
from sklearn.datasets import fetch_openml
mice = fetch_openml(name='miceprotein', version=4)

print(mice.DESCR)

Take the time to navigate in the [OpenML](https://www.openml.org/) website, load some of the datasets and plot some useful visualization of interesting statistics of the datasets with the seaborn library.

In [ ]:
# TO DO


# PANDAS

This section is inspired by the excellent french tutorials by [Philippe Besse](https://www.math.univ-toulouse.fr/~besse/Wikistat/pdf/st-tutor2-python-pandas.pdf).
Many other tutorials are available online: [http://pandas.pydata.org/pandas-docs/stable/tutorials.html](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)

The **Pandas** library provides many powerful features that have contributed to its success and to Python’s widespread use for extracting, preparing, and analyzing data. In particular, it offers:

* **Objects**: the **Series** and **DataFrame** classes, or data tables.
* **Read / Write**: creation and export of data tables from text files (delimited, .csv, fixed-width, compressed), binary files (HDF5 with PyTables), HTML, XML, JSON, MongoDB, SQL, etc.
* **Table management**: row and column selection, transformations, reorganization by factor levels, discretization of quantitative variables, removal or simple imputation of missing data, random shuffling and sampling, dummy variables, string handling, etc.
* **Basic statistics**: univariate and bivariate statistics, frequency tables (number of categories, null values, missing values, etc.), associated plots, group-based statistics, basic outlier detection, etc.
* **Table manipulation**: concatenations, merges, joins, sorting, and type and format management.

## Installation

```bash
pip3 install pandas
```

## Series

A [Series](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) is a one-dimensional object similar to an array, a list, or a column in a table. Each value is associated with an index, which by default is an integer from $0$ to $N−1$ (where $N$ is the length of the Series).

In [ ]:
!pip install pandas

In [ ]:
import pandas
from pandas import Series
import numpy
s = Series([42, 'Bonjour!', 3.14, -5, None, numpy.nan])
s.head()

You can also specify the indexes during creation.

In [ ]:
s2 = Series([42, 'Bonjour!', 3.14, -5, None, numpy.nan],
            index=['int', 'string', 'pi', 'neg', 'missing1', 'missing2'])
s2

You can also build the Series from a dictionary if you provide an index with a dictionary; indexes that are not keys in the dictionary will be missing values.

In [ ]:
city2cp_dict = {'Paris14': 75014, 'Paris18': 75018, 'Malakoff': 92240, 'Nice': 6300}
cities = Series(city2cp_dict)
cities

## DataFrame

A DataFrame is an object found in most data processing software. It is a matrix, each column is a **Series** and is of the same type (number, date, text), it can contain missing values (nan). Each column can be considered as the variables in a table.

A DataFrame represents a data table, i.e., an ordered collection of columns. These columns/rows can be of different types (numeric, string, boolean). This is very similar to DataFrames in the R language (in appearance...), with more symmetrical processing of rows and columns. It is a two-dimensional array
with row and column indexes, but it can also be seen as a list of **Series** sharing the same index. The column index (variable names) is an object of type dict (dictionary).

In [ ]:
import pandas
l = [ { "date":"2014-06-22", "prix":220.0, "devise":"euros" },
      { "date":"2014-06-23", "prix":221.0, "devise":"euros" },]
df = pandas.DataFrame(l)
df

In [ ]:
import pandas as pd
data = {"state": ["Ohio", "Ohio", "Ohio",
"Nevada", "Nevada"],
"year": [2000, 2001, 2002, 2001, 2002],
"pop": [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
frame

In [ ]:
# Column order
pd.DataFrame(data, columns=["year", "state", "pop"])
frame2 = pd.DataFrame(data)
frame2

In [ ]:
# index of missing rows and values (NaN)
frame2=pd.DataFrame(data, columns=["year", "state",
"pop", "debt"],
index=["one", "two", "three", "four", "five"])
frame2

In [ ]:
# column list
frame.columns

In [ ]:
# column value
frame["state"]

In [ ]:
# column values
frame.year

In [ ]:
# "imputation"
frame2["debt"] = 16.5
frame2

In [ ]:
# Create a variable
frame2["eastern"] = frame2.state == "Ohio"
frame2

### Writing and reading dataframes

This section briefly presents the functions that allow you to read/write a DataFrame in text/Excel formats. The encoding=utf-8 instruction is not mandatory but recommended when the data contains accents.

#### Writing

In [ ]:
import pandas
l = [ { "date":"2014-06-22", "prix":220.0, "devise":"euros" },
      { "date":"2014-06-23", "prix":221.0, "devise":"euros" },]
df = pandas.DataFrame(l)

# writing in text format
df.to_csv("exemple.txt",sep="\t",encoding="utf-8", index=False)

# we look at what has been recorded
with open("exemple.txt", "r", encoding="utf-8") as f:
    text = f.read()
print(text)

# we save in Excel format
df.to_excel("exemple.xlsx", index=False)

#### Reading

We will work with the data: [heart.txt](/content/sample_data/heart.txt) (source: R. Rakotomalala).
You have first to upload this file in your Colab space.

In [ ]:
#loading the file
#df is the name of the data frame object created
#sep specifies the column separator character
#header = 0: row number 0 = field names
#optionally, decimal can be used to indicate the decimal point
df = pandas.read_table("sample_data/heart.txt",sep = '\t',header = 0)


print(type(df))

In [ ]:
#display the first lines of the dataset
df.head()

In [ ]:
#dimensions: number of rows, number of columns
#the header row is not counted
#in the number of rows
print(df.shape)

In [ ]:
#column enumeration
print(df.columns)

In [ ]:
#column types
print(df.dtypes)

In [ ]:
#data description
print(df.describe(include='all'))

#### Variable Manipulation

In [ ]:
#access to a column
print(df['sucre'])

In [ ]:
# other approach
print(df.sucre)

In [ ]:
#access a set of columns
print(df[['sexe','sucre']])

In [ ]:
#a column is a vector (Series in Pandas terminology)
#displaying the first values
print(df['age'].head())

In [ ]:
#display of latest values
print(df['age'].tail())

#### Some statistics

See [here](http://pandas.pydata.org/pandas-docs/stable/basics.html#summarizing-data-describe)

In [ ]:
print(df['age'].describe())

In [ ]:
#computing the mean
print(df['age'].mean())

In [ ]:
#value count
print(df['typedouleur'].value_counts())

In [ ]:
#sort the values of a variable in ascending order
print(df['age'].sort_values())

In [ ]:
#we can also obtain the indices of the sorted values
print(df['age'].argsort())

In [ ]:
# Apply a functin
import numpy
#fonction call back
def operation(x):
    return(x.mean())
#call the function on all columns of the DataFrame
#axis = 0 ==> each column will be passed to the operation() function
#the select_dtypes() selection allows you to exclude non-numeric variables

resultat = df.select_dtypes(exclude=['object']).apply(operation,axis=0)
print(resultat)

####Indexed access to DataFrame data
DataFrame values can be accessed via indexes or index ranges. The structure then behaves like a matrix.
The top-left cell has coordinates (0,0).
There are different ways to do this, but using `$.iloc[,]` is one of the simplest solutions.

In [ ]:
#value in  (0,0)
print(df.iloc[0,0])

In [ ]:
#5 first values of all columns
#rows => 0:5 (0 to 5 [not included])
#columns = : (all columns)
print(df.iloc[0:5,:])

In [ ]:
#list of individuals with type A pain
print(df.loc[df['typedouleur']=="A",:])

In [ ]:
#list of individuals with type A pain and angine is true
print(df.loc[(df['typedouleur']=="A") & (df['angine'] == "oui"),:])

In [ ]:
# Cross-tabulation of variables
print(pandas.crosstab(df['sexe'],df['coeur']))

In [ ]:
#data disaggregation by gender
g = df.groupby('sexe')
#calculate the size of the sub-DataFrame associated with men
print(g.get_group('masculin').shape)

#### Exercise: Working with real data

We will use open data provided by the National Assembly, specifically data on members of parliament in JSON format. It is available here: http://data.assemblee-nationale.fr/acteurs/deputes-en-exercice

The first step will therefore be to:
 + Import the JSON file with Pandas
 + Understand the data structure

Then, a series of simple analyses will be performed to answer the following questions:
 + Determine whether gender parity is respected
 + Represent the number of members of parliament by age group
 + Calculate the average age by gender
 + List professional categories and occupations, then represent this in a readable format by gender.

In [ ]:
# TO DO